<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0bc4eb55-0787-40f4-bdd5-ce126a964d4c/resourcegroups/resourcegroup1/providers/Microsoft.Web/sites/githubcicd20240822120526</ResourceId>
    <ResourceGroup>resourcegroup1</ResourceGroup>
    <ApiResourceId>/subscriptions/0bc4eb55-0787-40f4-bdd5-ce126a964d4c/resourceGroups/resourcegroup1/providers/Microsoft.ApiManagement/service/githubcicdapi/apis/githubcicd</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubcicd20240822120526.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e19ec7a0-030e-4d0c-9a76-3287377f5cbc</ProjectGuid>
    <MSDeployServiceURL>githubcicd20240822120526.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>githubcicd20240822120526</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$githubcicd20240822120526</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>